.cart {
    color: white;
}

.imgProdCart {
    width: 20%;
    border-radius: 50%;
}

.itemCart {
    display: inline-flex;
    align-items: center;
    margin: 2rem auto;
}

.oneItemCart {
    width: 100%;
}


.itemCartDesc {
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
}

.cartTitle {
    margin: 5rem auto;
    color: white
}

.cartP {
    margin: 0;
}

.cartIconEmpty {
    color: white;
    font-size: 4rem;
    margin-bottom: 2rem;
}