.propMsg {
    color: white;
    font-size: 1.8em;
    margin: 0;
    padding-bottom: 1.5em;
    padding-top: 0.1em;
}

.title {
    font-size: 3.5em;
    color: white;
    text-transform: uppercase;
    padding-top: 1em;
    font-weight: 600;
}

/* CARDS BODY */

.cardGroup {
    display: inline-flex;
    justify-content: center;
    margin: 1.5em;
    margin-top: 3rem;
    max-width: 100%;
    flex-wrap: wrap;
  }